<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MotiPotli</title>
        <meta name="Description" content=""/>
        <meta name="Keywords" content=""/>
        <meta name="robots" content="index,follow"/>
        <meta name="revisit-after" content="10"/>
        <meta name="robots" content="all"/>
        <meta name="page-topic" content=""/>
        <meta name="distribution" content=""/>
        <meta name="rating" content=""/>
    </head>

    <body style="font-family: 'Open Sans', sans-serif;font-size: 14px;background:#000000;color: #727272;">
        <header>
            <div style="background: #1A1A1A;border-radius: 0;border: 0;border-top: 3px solid #115a75;">
            </div>
        </header>

        <div style="margin: 0 auto; position: relative; width: 100%;">
            <div style="margin-top:30px;">
                <div style="margin: 22px;  background-color: #FFFFFF; padding: 20px;margin: 0 auto; text-align: left; width: 70%; border: 1px solid #e7e7e7;">
                    <p style="color: #727272;"><b>Dear <b>{USER_NAME},</b></p>
                    <p style="color: #727272;"><br>
					You recently requested a new password to sign in to your MotiPotli account. To create a new password, click on the link below:	
                    <br><br>
					<a href="{CODE}" style="color: #337ab7;">Reset My Password</a>.
					<br><br>				
                    </p>                 
                    <br>
                    <p style="color: #727272;">
                        Thanks,<br>                      
                    </p>
                </div>          
            </div>
            <!-- ====Footer Here==== -->
            <div style="width: 67%;margin:auto;text-align: center;padding: 22px;">
                <div style="color: #727272;">
                    Copyright  &copy;.  
                </div>
            </div><!-- ====Footer End==== -->
        </div>
    </body>
</html>
