<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MotiPotli</title>
        <meta name="Description" content=""/>
        <meta name="Keywords" content=""/>
        <meta name="robots" content="index,follow"/>
        <meta name="revisit-after" content="10"/>
        <meta name="robots" content="all"/>
        <meta name="page-topic" content=""/>
        <meta name="distribution" content=""/>
        <meta name="rating" content=""/>
    </head>

    <body style="font-family: 'Open Sans', sans-serif;font-size: 14px;background:#000000;color: #727272;">
        <header>
            <!--<div style="text-align: center;background: url('{HEADER}') repeat scroll center top;position: relative;height:125px;">               
					<img src="{WEB_URL}" style="display: block;margin: 0 auto;max-height: 100px; height: 100px; max-width: 350px;">
                <div style="position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;z-index: 1;background: rgba(0,0,0,0.55);"></div>
            </div>-->
            <div style="background: #1A1A1A;border-radius: 0;border: 0;border-top: 3px solid #115a75;">
            </div>
        </header>

        <div style="margin: 0 auto; position: relative; width: 100%;">
            <div style="margin-top:30px;">
                <div style="margin: 22px;  background-color: #FFFFFF; padding: 20px;margin: 0 auto; text-align: left; width: 70%; border: 1px solid #e7e7e7;">
                    <p style="color: #727272;"><b>Dear <b>{USER_NAME},</b></p>
                    <p style="color: #727272;"><br>
					Please complete the verification by using following credentials :-	
                    <br><br>
					Username :<b> {EMAIL}</b><br><br>	
                    Password :<b> {PASSWORD}</b>										
					<br><br>				
                    </p>                 
                    <br>
                    <p style="color: #727272;">
                        Thanks,<br> 
                        MotiPotli Team                     
                    </p>
                </div>          
            </div>
            <!-- ====Footer Here==== -->
            <div style="width: 67%;margin:auto;text-align: center;padding: 22px;">
                <div style="color: #727272;">
                    Copyright  &copy;.  
                </div>
            </div><!-- ====Footer End==== -->
        </div>
    </body>
</html>
